# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/speleothem-server/build.gradle.kts
/speleothem-api/build.gradle.kts
/speleothem-server/src/minecraft/
/folia-server/
/folia-api/
/folia-checkstyle/
/paper-server
/paper-api
/paper-checkstyle
/luminol-generator.settings.gradle.kts
/test-plugin.settings.gradle.kts

.idea/
